

.undraggable
{
    -moz-window-dragging: no-drag;
    -webkit-user-drag: none;
    

    
    pointer-events: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.unselectable
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    -moz-window-dragging: no-drag;
    -webkit-user-drag: none;
}

#roadhog
{
    
    width: 20%;
    position: fixed;
    bottom: 0px;
    min-width: 130px;
    max-width: 220px;
}

#roadhogImage
{
    width: 100%;
    margin: 0px auto;
    display: block;
    cursor: grab;
    filter: drop-shadow(-10px 2px 14px #353535);
}


.hogJumping
{
    animation: hogJump .56s ease-in-out forwards;
}

#hogDialog
{
    word-wrap: break-word;
    text-align: center;
    padding: 10px;
    border-style: groove;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    background-color: white;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s ease-in;
}

.hook
{
    display: flex;
    flex-flow: column;

    --W: 20%;
    width: var(--W);
    position: absolute;
    transform-origin: bottom center;
    bottom: 25%;
    left: calc(50% - calc(var(--W) / 2));
    animation: throwHook 0.4s 2 cubic-bezier(.08,1.08,.83,.99) alternate;
    z-index: -5;
}

.hookedItem
{
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 400px;
}

#audioButton
{
    position: fixed;
    min-width: 20px;
    min-height: 20px;
    z-index: 1;
    color: white;
    background-color: #353535;
    border-radius: 10px;
    padding: 6px;
    left: 10px;
    top: 10px;
}
#audioButton::after
{
    content: "volume_off";
}
#audioButton.on::after
{
    content: "volume_up";
}



@keyframes throwHook {
    0%{
        transform: rotate(var(--angle)) translateY(calc(100%));   
        clip-path: inset(-1000px -1000px calc(100%) -1000px);    
        clip-path: polygon();
    }
    100%
    {
        transform: rotate(var(--angle)) translateY(calc(100% - var(--longness)));    
        clip-path: inset(-1000px -1000px calc(100% - var(--longness)) -1000px);  
    }
}

@keyframes hogJump {
   
    20%,
    60% {
        transform: translateY(-10px);
    }
    40%,
    80% {
        transform: translateY(0px)
    }
}



