.menu
{
    margin: 50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    justify-content: center;
    
}
.card
{
    margin: 10px;
    font-size: 100px;
    background-color: rebeccapurple;
}


