.menu
{
    margin: 50px 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    justify-content: center;

}

.card
{
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}
